<!doctype html>
<html class="no-js" lang="">

<head>
  <title>Google Login</title>
</head>
<body>
    <center>
      <h3>Google Login</h3>
      {% if not google_data %}
        <p style="color:#333;">You are not logged in, Click on the below link to sign in with google.</p>
        <a href="/login" class="google-btn">
          <div class="google-icon-wrapper">
            <img class="google-icon" src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg"/>
          </div>
          <p class="btn-text"><b>Sign in with google</b></p>
        </a>
      {% else %}
        <p>Привіт, {{ google_data.name }}, [<strong>{{ google_data.email }}</strong>]</p>
      {% if google_data is not none %}

    <p>ВІДМІТИТИСЬ</p>


    <p>Дата і час: {{ date_time }}</p>

    <p>Предмет, (Лекційне, практичне, лабораторне заняття)</p>

    <form action = "/" method="post">
    <table>
        <tr><td><input type="text" name="Subject"></td></tr>
        <td><input type="submit" value="Submit"></td>
    </table>
    </form>



    <a href="/logout">
      <p class="btn-text"><b>Вийти</b></p>
    </a>
    </center>

  {% endif %}
  {% endif %}

</html>
